

<h2>Abilities</h2>
<ul>


        <% details.abilities.forEach(detail=>{%>
            <li>

                <%= detail.ability.name%>
            </li>
        <%})%>
            
            <img src="<%= details.sprites.front_shiny %> " alt="pokemon image">
</ul>