<div class="container">
    <h1 class="text-center">Favorites</h1>
    <p class="text-center">
      <a href="/">Home</a>
    </p>
  
    <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name%></h2>
  
      <form method="POST" action="/pokemon">
        <input
          hidden
          type="text"
          name="name"
          value="<%= pokemon.name %>"
        />
        <button class="btn btn-primary" type="submit">
          Add to Favorite Pokemon TODO :remove
        </button>
      </form>
      <a href="/pokemon/<%=pokemon.name%>">
  
        <button class="btn btn-primary">
          Show Pokemon
        </button>
      </a>
  
    </div>
    <% }); %>
  </div>
  