 <div class="container">
  <div class="header-image">
    <img class = "logo" src="/img/logo.png">
  </div>
   <div class ="favorites-container">
      <p class= "favorites-link">Favorites</p>
  </div>

<ul id="favorite">
  <% pokemon.forEach(function(pokemon) { %>
    <li>
      <%= pokemon.name %>
    </li>
  <% }) %>
</ul>
</div>