<div class="container">
  <h1 class="text-center">My Favorite Pokemon</h1>
  <p class="text-center">
    <a href="/">Home</a>
  </p>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><a href='/pokemon/<%= pokemon.id %>'><%= pokemon.name %></a></h2> 
    </div>
  <% }); %>
</div>




