<div class="container">
    <h1 class="text-center">FAVORITES!</h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
      <a href="/">Home Page</a>
    </p>
  
    <% pokemon.forEach(function(pokemon) { %>
      <div class="well">
        <h2><%= pokemon.name %></h2>
        
      </div>
    <% }); %>
  </div>
  