  <div class="header-image">
    <img class = "logo" src="/img/logo.png">
  </div>

<ul id="favorite">
  <% pokemon.forEach(function(pokemon) { %>
    <li>
      <%= pokemon.name %>
    </li>
  <% }) %>
</ul>