<div class="container">
    <h1 class="text-center">My Favorite Pokemon</h1>
    <p class="text-center">
      <a href= '/'>Home Page</a>
    </p>
  
    <% pokemons.forEach(function(pokemon) { %>
      <div class="well">
        <h2><%= pokemon.name %></h2>
        <form method="GET" action="pokemon/<%= pokemon.id %>">
            <input hidden type="text" name="id" value="<%= pokemon.id %>">
            <input hidden type="text" name="name" value="<%=pokemon.name%>">
            <button class="btn btn-primary" type="submit">More pokemon facts</button>
          </form>
      </div>
    <% }); %>
  </div>
  
  