<h1>My deck</h1>

<div class="carousel">
  <figure class="spinner">
       <%pokemons.forEach(function(pokemon){%>
    
<h1><%=pokemon.name%></h1>
<img src="<%=pokemon.imgUrl %>" alt="">


<%});%>  

  </figure>
 

</div>
