<h1>My deck</h1>


<section>
  <ul>
<%pokemons.forEach(function(pokemon){%>
  <li>
    <figure>

      <a href="pokemon/<%=pokemon.pokemonId%>">
        <img src="<%=pokemon.imgUrl %>">
      </a>
    </figure>
  </li>


<h1><%=pokemon.name%></h1>



<%});%>  


  </ul>
</section>

       

 

</div>
