<div class="container">
    <h1 class="text-center">FAVORITES!</h1>
    <p class="text-center">
      <!-- <a href="/pokemon">Favorites</a> -->
      <a href="/">Home Page</a>
    </p>
  
    <% pokemon.forEach(function(pokemon) { %>
      <div class="well">
        <h2><%= pokemon.name %></h2>
        <form method="GET" action="pokemon/<%= pokemon.name %>">
            <input hidden type="text" name="name" id='name' value="<%= pokemon.name %>">
            <button class="btn btn-primary" type="submit">Pokemon Specific Facts</button>
          </form>
      </div>
    <% }); %>
  </div>
  