<div class="container">
  <h1 class="text-center">Sean Swanson || WDI16-SEA </h1>
  <p class="text-center">
    Explore the PokeMon API!
  </p>
    <div class="all-pokemon">
      <div class="list">
        <div class="items">
          <h2><img src="http://pixelartmaker.com/art/b73566a14633720.png"></h2>
          <form class="add-favorite" method="POST" action="./pokemon">
            <input hidden type="text" name="url">
            <input class="pokemon-name" hidden type="text" name="name" value="">
            <button class="btn btn-primary" type="submit">Remove From Favorites</button>
       </form>
        </div>
      </div>
    </div>


</div>
