<h3>Favorite Pokemon:</h3>
<!-- View: views/pokemon/index.ejs
Purpose: Retrieve all favorited Pokemon and display them on the page
What sequelize function will do this for us? -->
<% pokemon.forEach(function(pokemon) { %>
<div class="well">
    <h2><%= pokemon.name %></h2>
   

   

</div>
<% }) %>