<div class="container">
    <h1 class="text-center"> Your team is full!</h1>
    <h2 class="text-center"> The maximum team size is 6. Please remove a pokemon from your current team before adding another.</h2>
    <p class="text-center">
        <a href="/pokemon">Your Team</a>
    </p>
</div>
