<h1 class="text-center">Favorite Pokemen</h1>
<% pokemon.forEach((pokemon)=>{ %>
    <div class="text-center col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h2>
                <form method="POST" action="/pokemon/<%= pokemon.id %>/?_method=DELETE">
                    <input hidden type="text" name="name" value="<%= pokemon.id %>">
                    <button class="btn btn-primary" type="submit">Remove From Favorites</button>
                </form>
            </div>
        </div>
    </div>
<% }) %>