<div class="container">
  <h1 class="text-center">Your favorites</h1>
  <p class="text-center">
    <a href="/" class="btn btn-danger">Home</a>
  </p>

  <% favorites.forEach( (favorite) => { %>
    <div class="card w-50 text-center m-2 border border-danger">
      <div class="card-body">
        <h2><a href="pokemon/<%= favorite.id %>" class="text-danger">
          <%= favorite.name %>
        </a></h2>
        <a href="pokemon/<%= favorite.id %>" class="remove-btn btn btn-outline-danger">Remove the favorite</a>
      </div>
    </div>
  <% }); %>
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="/js/removeButton.js"></script>
