<h1 class="text-center">Favourite Pokemen</h1>
<p class="text-center">
    <a href="/">Home</a>
</p>
<% pokemon.forEach((pokemon)=>{ %>
    <h3><a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h3>
<% }) %>