<div class="container">
  <h1>Your Favorite Pokemon!</h1>
  <h4>Click on a Pokemon to learn more</h4>


  <% pokemon.forEach(poke => { %>
    <div>
      <p> <a href="/pokemon/<%=poke.name %>"> <%= poke.name %> </a> </p>
    </div>
  <% }) %>

</div>
