<h1>Pokedex</h1>

<% pokemons.forEach((pokemon) => { %>
    <p>
        <form action="/pokemon/<%= pokemon.name %>">
            <input class="a" type="submit" value="<%= pokemon.name %>"/>
        </form>
        <form method="POST" action="/pokemon">
            <input class="submit-button" type="submit" value="DELETE"/>
        </form>
    </p>
<% }) %>