<div class="container">
    <h1 class="text-center">My Favorite Pokemon</h1>
    <p class="text-center">

<div class="text-center">
    <% pokemon.forEach(eachPokemon => { %>
        <p>
            <a href="/pokemon/<%= eachPokemon.name %>"><%= eachPokemon.name %> </a>
        </p>
    <% }) %>
</div>
