<h1>You have landed on the favorites page!</h1>

<% pokemon.forEach(function(pokemon) { %>
<h2><%= pokemon.name %></h2>
<img src="<%= pokemon.sprite %>">
<a href="/pokemon/<%= pokemon.id %>" class="delete btn btn-primary">Remove Pokemon </a>
<% }); %>