
<% pokemons.forEach (pokemon => { %>

<p>
    <%= pokemon.name %>
    <a href="/pokemon/<%= pokemon.name %>">Additional Details</a>
</p>

<form method="POST" action="/pokemon/:name?_method=DELETE">
    <input hidden type="text" name="name" value="<%= pokemon.name %>">
    <button class="btn btn-primary" type="submit">DELETE</button>
</form>

<% }) %>