<div class="container">
  <h1 class="text-center">Your Favorite Pokemon!</h1>
  <h3 class="text-center">Click on a Pokemon to learn more</h1>
  <p class="text-center">

<div class = "text-center">
  <% pokemon.forEach(poke => { %>
    <div>
      <p> <a href="/pokemon/<%=poke.name %>"> <%= poke.name %> </a> </p>
    </div>
  <% }) %>

</div>
