
<h2>I CHOOSE YOU!</h2>
<% pokemon.forEach(pokemon => { %>
    <div class=" well">
        <h2><%= pokemon.name %></h2>
        <a href="/pokemon/<%= pokemon.id %> ">
            <button>
                Show me more
            </button>
        </a>
    </div>
<% }) %> 