
<div class="container-fluid text-center favorite">
  <div class="row">
    <h1>My Favorite Pokemon</h1>

    <%pokemons.forEach((pokemon) => { %>
        
      <div class="row py-5 text-center text-capitalize">
        <h3>
          <a href="/pokemon/<%= pokemon.name %>"> <%= pokemon.name %></a>
        </h3>
        <form action="pokemon/%<= pokemon.name %>/?_method=DELETE" method="POST">
          <button type="button" class="btn btn-default">Delete</button>
        </form>
      </div>

    <% }) %>
  </div>
</div>s