
<div class="container">
  <h1 class="text-center">Favorite Pokemon</h1>
  <p class="text-center">
    <a href="../">back to all pokemon</a>
  </p>


    <div class="well">
      <h2></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="">
        <button class="btn btn-primary" type="submit">nevermind</button>
      </form>
    </div>


</div>


