<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<body class="well favs">
   <%  pokemon.forEach((poke) => { %>
        <div class="fav-name">
            <p> <%= poke.name %> </p>
            <a href="/pokemon/<%= poke.name %>" class="btn btn-primary">Click Here To View Stats and Info!</a>
        </div>
   <% }) %>
</body>
</html>