<h1>Your favorite pokemon:</h1>
<ul>
<% pokemon.forEach(fave => { %>
    <li>
        <a href="/pokemon/<%=fave.name%>">
            
            <%=fave.name%>
        </a>
        </li>
<% }) %>
</ul>