<div class="container">
    <h1 class="text-center">My Favorites</h1>
    <p class="text-center">
    </p>

    <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
        <h2> <a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h2>
        </form>
    </div>
    <% }); %>
</div>
