
<div class="index">
  <h2 class="title">My Favorite Pokemon</h2>
  <ul>
      <% myFavoritePokemons.forEach((pokemon) => { %>
        <li><a class="pokename" href = "/pokemon/<%= pokemon.name %>"><%= pokemon.name %></li>
      <% }) %>
  </ul>
</div>

