<div class="favorite">
    <h1 class="favorite">All My Favorite Pokemon</h1>
</div>

<div class="favorite-pokemon">
    <% pokemon.forEach(eachPokemon => { %>
        <p>
            <a href="/pokemon/<%= eachPokemon.name %>"><%= eachPokemon.name %> </a>
        </p>
    <% }) %>
</div>