<h3>My Favorite Pokemon</h3>

<ul>
    <% pokemon.forEach ( poke => { %>
        <li>
        <form method="GET" action="/<%= poke.name %>">
            <input type="submit" value="<%= poke.name %>"> </form></li>
    <% }) %>  
</ul>