<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<body>
   <%  pokemon.forEach((poke) => { %>
       <p> <%= poke.name %> </p>
   <% }) %>
</body>
</html>