<div class="container">
  <h1 class="headline">Your Favorite Pokemon!</h1>
  <div class="row">
  <% pokemon.forEach(function(pokemon) { %>
    <div class="col s12 m3">
      <div class="card medium">
        <div class="card-image">
          <img class="responsive-img" src="img/<%= pokemon.name%>.png">
        </div>
        <div class="card-content">
          <p><%= pokemon.name %></p>
        </div>
        <div class="card-action">
          <a href="/pokemon/<%= pokemon.name %>">Info</a>
          <a class='btn red delete' href="/pokemon/<%= pokemon.id %>"><i class="material-icons">delete</i></a>
        </div>
      </div>
    </div>
  <% }); %>
  </div>
</div>