<h2>Favorite Pokemon</h2>
 <% pokemon.forEach(function(mon){%>
<div>
<h4><a href="/pokemon/<%=mon.id%>"><%= mon.name %></h4>
<a href="/pokemon/<%=mon.id%>" class="delete-btn">Delete</a>
<br>
</div>
<% }); %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$(".delete-btn").click(function(e){
			e.preventDefault();
			var url = $(this).attr("href");
 			$.ajax({
				method: "DELETE",
				url: url
			}).done(function(data){
				window.location="/pokemon";
			}).fail(function(err){
				console.log("error!", error);
			});
		});
	});
</script> 