<!-- retrieve all pokemon and display on page -->

<h2>My Fave Pokemons</h2>

<p>All of my faves</p>

<ul>
    <% favePokes.forEach(pokemon => { %>
     <li><a href ="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></li>
    <% }) %>
</ul>