<h2>My Favorite Pokemon</h2>

<% pokemon.forEach(function(mon){%>
<div>
<h4><a href="/pokemon/<%=mon.id%>"><%= mon.name %></h4>
<a href="/pokemon/<%=mon.id%>" class="delete-btn">Delete Pokemon</a>
<hr>
</div>
<% }); %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$(".delete-btn").click(function(e){
			e.preventDefault();
			var url = $(this).attr("href");
			console.log("delete url", url)

			$.ajax({
				method: "DELETE",
				url: url
			}).done(function(data){
				window.location="/pokemon";
			}).fail(function(err){
				console.log("error!", error);
			});
		});
		//try to acquire info from pokemon API
		/*function getData(pokemon) {
			console.log(pokemon);
			const baseURL = "http://pokeapi.co/api/v2/";
			$.ajax({
			  url: baseURL + pokemon,
			  dataType:'json',
			}).then(data => {
			  console.log(data);
			}).catch( e  => console.log(e));

		}; */
	});
</script>