<body class="favePage">
    <% pokemon.forEach(function (pokemon) { %>
        <div class="eachPoke">
        <h2><%= pokemon.name %></h2>
        <a href="/pokemon/<%= pokemon.name %>">Click for more info!</a>
    </div>
        <% }) %>
</body>