<div class="container my-container">
    <h1 class="text-center">Favorites</h1>
    <p>
        <form class="text-center" action="/">
          <button class="btn btn-primary" type="submit">Back to Original 151</button>
        </form>
    </p>
    <% pokemons.forEach((pokemon) => { %>
        <div class="well">
            <h2 class="a"><%= pokemon.name %></h2>
            <form action="/pokemon/<%= pokemon.name %>">
                <input class="a btn btn-primary" type="submit" value="Details"/>
            </form>
        </div>
    <% }) %>
</div>
