<div class="container">
  <h1 class="text-center" style="color: yellow;">My Favorite Pokemon</h1>
  <p class="text-center">
    <a href="/">Home</a>
  </p>

  <% poke.forEach(function(poke) { %>
    <div class="well">
      <h2><a href="/pokemon/<%= poke.id %>"><%= poke.name %></a></h2>
      <form method="POST" action="/pokemon/?_method=DELETE">
      	<input type="hidden" name="name" value="<%= poke.name %>">
      	<input class="btn btn-primary" type="submit" value="Remove from favorites">
      </form>
    </div>
  <% }); %>
</div>
