<div class="container">
  <h1 class="text-center">Your favorites</h1>
  <p class="text-center">
    <a href="/">Home</a>
  </p>

  <% favorites.forEach( (favorite) => { %>
    <div class="well">
      <h2><a href="pokemon/<%= favorite.id %>">
        <%= favorite.name %>
      </a></h2>
      <a href="pokemon/<%= favorite.id %>" class="remove-btn btn btn-danger">Remove the favorite</a>
    </div>
  <% }); %>
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="/js/removeButton.js"></script>
