<div class="container">
  <h1 class="text-center">Your Favorite Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <a href="/pokemon/<%= pokemon.name %>">Show Details</a>
      </form>
    </div>
  <% }); %>
</div>
