<div class="container">
  <h1 class="text-center">My fave poke</h1>
  <p class="text-center">
    <a href="/">Show all</a>
  </p>

  

  <% pokemons.forEach((pokemon) => { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="GET" action="pokemon/<%= pokemon.id %>">
        <input hidden type="text" name="id" value="<%= pokemon.id %>">
        <input hidden type="text" name='name' value='<%= pokemon.name %>'>
        <button class="btn btn-primary" type="submit">Details</button>
      </form>
    </div>
  <% }); %>

</div>