
<div class="container">
  <h1 class="text-center">Favorite Pokemon</h1>
  <p class="text-center">
    <a href="../">Back to the main list of Pokemon</a>
  </p>

<!--    favoriteArray.forEach(function(pokemon) { 
 -->
    <div class="well">
<!--       <h2> pokemon.name </h2>
 -->      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="">
        <button class="btn btn-primary" type="submit">nevermind</button>
      </form>
    </div>
<!--    });  -->


</div>

