<div class="container">
    <h1 id='title' class="text-center">Your Favorite Pokemon</h1>
  
  
    <% pokemon.forEach(function(pokemon) { %>
      <div class="boxes">
        <h2><%= pokemon.name %></h2>
        <a href="/pokemon/<%= pokemon.name %>">Click for more info</a>
      </div>
    <% }); %>
  </div>