<h1>Your Pokedex</h1>

<ul>
    <% displayPokedex.forEach(pokemon => { %>
        <li>
            <%= pokemon.dataValues.name %>
            <a href="/pokemon/<%= pokemon.dataValues.name %> ">More Info</a>
        </li>
    <% }) %> 
</ul>