<div class="container1">
  <a href="/">Back To All</a>
  <% favorite.forEach(function(favorite) { %>
    <div class="head">
      <a href="/pokemon/<%= favorite.id %>"><h2><%= favorite.name %></h2></a>
       <h3><%= favorite.description %></h3>
      <a href="/pokemon/<%= favorite.id %>" class="btn btn-danger delete-fav">
        Delete Favorite
      </a>
    </div>
  <% }); %>
</div>
