<h1 class="text-center">More info for <%= poke.name %></h1>

<div class="row nav">
   <div class="col-sm-4 col-sm-offset-4 text-center">
      <a class="btn btn-primary fav-button" href="/pokemon">See All Favorites</a>
   </div>
</div>

<div class="row">
   <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="well">

      </div>
   </div>
   <div class="col-sm-2"></div>
</div>
