<a class="top-link" href="/"> Home </a> <span> | </span>
<a class="top-link" href="/pokemon"> Favorites </a> <span> | </span>
<span> <%=name %> </span> <br><br>
<h1 class="pokemon-name"> More about <%= name %></h1>


<form method="post" action="/pokemon/<5=name%>">
	<input type="submit" class="btn btn-danger" value="Delete from Favorites">
</form>
