<div class="container">
  <h2><%= stats.forms[0].name %> stats</h2>

  <button id="del-fav" class="btn btn-danger"
    action="/pokemon/<%= stats.forms[0].name %>">
    Unfavorite
  </button>

</div>
