<div class="container">
    <h1 class="text-center">Pokemon Details</h1>
    <p class="text-center">
      <h3><%=pokemon.name%></h3>>
      <h3><%=pokemon.url%></h3>>
      <h3><%=pokemon.species%></h3>>
      <h3><%=pokemon.abilities%></h3>>
      <a href="/">Home Page</a>
    </p>
</div>
    