<h1>
    <%= pokemn.name %>
    <img src="<%= pokemon.sprites.front_default %>">
</h1>

<ul>
    <li>Type: <%= pokemon.types[0].type.name %> </li>
    <li>Height: <%= pokemon.height %>  dcm</li>
</ul>