
<%- include ../partials/header.ejs %>


<!-- <div class=" show row"> -->
        <div class="show col s3 m6 l12">
          <div class="card yellow darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= pokemon.name %></span>
              <img src='<%= pokemon.sprites.front_default %>'>
            </div>
          </div>
        </div>
<!-- </div> -->

<%- include ../partials/footer.ejs %>
