<h2>Results Here</h2>

<h3>Name:</h3>
<%= JSON.stringify(results.forms[0].name) %>

<h3>Abilities:</h3>
<%= JSON.stringify(results.abilities[0].ability.name) %>
<%= JSON.stringify(results.abilities[1].ability.name) %>

<h3>Stat:</h3>
<%=JSON.stringify(results.stats[0].stat.name) %>