<div class="container">
	<h2 class="text-center"> Pokemon Detail </h2>
	<p class="text-center">
		<a href="/" class="btn btn-info">Return to Pokemon</a>
	</p>
	<div class=container>
		<h3> <%= pokemon.name %> </h3>

	</div>
</div>























	
