<a class="btn btn-success" href="/">Back to Pokemon</a>
<a class="btn btn-success" href="/pokemon">Back to Favorites</a>
<h2 class="text-center">More About...</h2>


<h1>
	<%= JSON.stringify(results.forms[0].name).split('"').join('') %>
</h1>

<div id="accordion">
	<h3>Abilities:</h3>
	<div>
		<ul>
			<% for(var i = 0; i < results.abilities.length; i++) { %>
				<li>
				<%=JSON.stringify(results.abilities[i].ability.name).split('"').join('') %>
				</li>
			<% } %>
		</ul>
	</div>

	<h3>Stats:</h3>
	<div>
		<ul>
			<% for(var i = 0; i < results.stats.length; i++) { %>
				<li>
				<%=JSON.stringify(results.stats[i].stat.name).split('"').join('') %>
				</li>
			<% } %>
		</ul>
	</div>

	<h3>Moves (First Ten):</h3>
	<div>
		<ul>
			<% for(var i = 0; i < 10; i++) { %>
				<li>
				<%=JSON.stringify(results.moves[i].move.name).split('"').join('') %>
				</li>
			<% } %>
		</ul>
	</div>
</div>