<div class="container">
    <h1 class="text-center">Pokemon Details</h1>
    <p class="text-center"> 
      <img src='<%= pokemon.sprites.front_default%>' />
      <h3>Name: <%=pokemon.name%></h3> 
      <h3>Ability: <%=pokemon.abilities[0].ability.name%></h3>
      <h3>Type: <%=pokemon.types[0].type.name%></h3>
       <a href="/">Home Page</a>
    </p>
</div>
    