<h1><%= favorite.forms[0].name %></h1>

<h2>weight: <%= favorite.weight %></h2>

<h2>base experience: <%= favorite.base_experience %></h2>

<img src="<%=favorite.sprites.front_default%>">
<br>

<% console.log(favorite.abilities[0].ability);%>
