<div id="statsDiv">
<img id='pokeImg' src="<%= pokemon.sprites.front_default %>" alt="pic">
<p id="pokeStats"><%= pokemon.name %>'s stats are type: <%= pokemon.types[0].type.name %> and height: <%= pokemon.height %></p>
</div>