<h2> Poke Info</h2>

<img  src="<%=officialArt%>"/>

<h3>Pokemon name:</h3>

<p> <%= pokemon.name %> </p>

<h3>Type(s):</h3>

<ul>
    <% pokemon.types.forEach(function(type) { %>
        <li>
            <%= type.type.name %>
        </li>
    <%}) %>
</ul>

<h3>Abilities:</h3>

<ul>
    <% pokemon.abilities.forEach(function(ability) { %>
        <li>
            <%= ability.ability.name %>
        </li>
    <%}) %>
</ul>