<div id="pokecard">
	<h2 id="pokemon_name"> <%= name %></h2>
	<div id="pokemon_img">
		<img src="<%=image_front%>">
	</div>
	<div id="pokemon_info">
		<h3> Ability: <%=ability%></h3>
		<h3> Speed: <%=speed%></h3>
	</div>
</div>

