<div class="container">
  <h1 class="text-center">Pokemon Stats</h1>
<p class="text-center">
  <a href="/" class="btn btn-info">Home</a>
</p>
<% pokemon.forEach(function(pokemon) { %>
  <div class="well">
    <h2><%= pokemon.name %></h2>
    <form class="delete-fav" action="./pokemon/<%= pokemon.id %>">
      <button class="btn btn-danger" type="submit">Remove Pokemon</button>
    </form>
  </div>
<% }); %>
</div>
