
    <!-- jQuery -->
    </div>

    <nav class='footer'>
    	<p id='copyright'> &copy; Emily Garrett 2018 </p>
    </nav>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src='/js/main.js'></script>
  </body>
</html>
