<footer class="fixed-footer">
<div class="pokeball-bottom">

  <div class="pokeball-bottom-latch">
    <div class="pokeball-bottom-latch-button"></div>
  </div>

  <div class="footer-link">
    <p>Built with <a href="https://pokeapi.co/">PokeApi</a></p>
  </div>

</div>
</footer>