<header class="fixed-header">
<div class="pokeball-top">
  <div class="left-link">
    <a href="/faves" class="btn waves-effect waves-light red darken-1 nav-link">Pokémon</a>
  </div>
  <div>
    <a href="/caught" class="btn waves-effect waves-light red darken-1 nav-link">Caught</a>
  </div>
  <div>
    <a href="/faves" class="btn waves-effect waves-light red darken-1 nav-link">Faves</a>
  </div>

  <div class="pokeball-top-latch">
    <div class="pokeball-top-latch-button"></div>
  </div>

</div>
</header>