<header class="fixed-header">
<div class="pokeball-top">
  <div class="nav-link">
    <a href="/caught" class="btn waves-effect waves-light red darken-3">Caught</a>
  </div>

  <div class="pokeball-top-latch">
    <div class="pokeball-top-latch-button"></div>
  </div>

  <div class="nav-link">
    <a href="/faves" class="btn waves-effect waves-light red darken-3">Faves</a>
  </div>

</div>
</header>