<header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/auth/register">Register</a>
        </li>
        <li>
          <a href="/auth/signin">Sign In</a>
        </li>
        <li>
          <a href="/auth/signout">Sign Out</a>
        </li>
      </ul>
    </nav>
  </header>
  