    <nav class="nav-wrapper green darken-2">

      <div>
        <a href="#" class="brand-logo center">Logo</a>
      </div>
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/pokemon">Favorites</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Register</a>
        </li>
        <li>
          <a href="#">Sign In</a>
        </li>
        <li>
          <a href="#">Sign Out</a>
        </li>
      </ul>
    </nav>