<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/pokemon">Favorites</a></li>
        </ul>
    </div>
</nav>