<nav class="nav-extended red darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Pokédex</a>
      <ul class="tabs tabs-transparent left">
        <li><a href="/pokemon">Favorites</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="/">Gen 1</a></li>
        <li class="tab"><a href="/gen2">Gen 2</a></li>
        <li class="tab"><a href="/gen3">Gen 3</a></li>
        <li class="tab"><a href="/gen4">Gen 4</a></li>
        <li class="tab"><a href="/gen5">Gen 5</a></li>
        <li class="tab"><a href="/gen6">Gen 6</a></li>
        <li class="tab"><a href="/gen7">Gen 7</a></li>
      </ul>
    </div>
  </nav>



