<header>
    <nav>
        <div class="nav-wrapper red darken-3">
          <a href="#" class="brand-logo right">THA BIG OGS</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/favorites/">Favorites</a></li>
          </ul>
        </div>
      </nav>
</header>