<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/about/food">Foods</a>
            </li>
            <li>
                <a href="/about/bday">Birthday</a>
            </li>
            <li>
                <a href="/pokemon/types">Pokemon Types</a>
            </li>
        </ul>

    </nav>
    <main>
        <%- body %>
    </main>
    <%# <footer>Some Footer TBD</footer> %>
</body>
</html>