<h3>404 not found</h3>

<p>I have climbed the highest mountains</p>
<p>I have run through the fields</p>
<p>Only to be with you</p>
<p>Only to be with you</p>
</br>
<p>I have run I have crawled</p>
<p>I have scaled these city walls</p>
<p>These city walls</p>
<p>Only to be with you</p>
</br>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
</br>
<p>I have kissed honey lips</p>
<p>Felt the healing in the fingertips</p>
<p>It burned like fire</p>
<p>This burning desire</p>
</br>
<p>I have spoke with the tongue of angels</p>
<p>I have hald the hand of a devil</p>
<p>It was warm in the night</p>
<p>I was cold as a stone</p>
</br>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
</br>
<p>I believe in the Kingdome come</p>
<p>Then all the colors will bleed into one</p>
<p>Bleed into one</p>
<p>But yes, I'm still running</p>
</br>
<p>You broke the bonds</p>
<p>and you loosened the chains</p>
<p>carried the cross of my shame, of my</p>
<p>shame</p>
<p>You know I believe</p>
</br>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
</br>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
<p>But I still haven't found</p>
<p>What I'm looking for</p>
</br>
</br>
<p>Source: LyricFind</p>
<p>Songwriters: Adam Clayton / Dave Evans / Larry Mullen / Paul David Hawson / Victor Reina</p>
<p>I Still Haven't Found What I'm Looking For lyrics &#x24B8; Universeal Music Publishing Group</p>
