<div class="container">
        <h1 class="text-center">The Original 151 Pokemon</h1>
        <p class="text-center">
          <a href="/pokemon">Favorites</a>
          <a href="/">Home</a>
        </p>
         <p>You have successfully deleted a file</p>
</div>
      