<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon</title>
</head>
<body>
   <h1>Pokemon Details</h1>
    <p><%= pokemon.name %></p> 
    <h4> <%= pokemon.abilities %> </h4>
    <h4> <%= pokemon.forms %></h4>
  
 


</body>
</html> 
 

 