<p class="text-center">
    <a href="/">Back To The List Of All</a>
</p>  
<hr>
<p class="text-center">
    <a href="/pokemon">Back To Fav</a>
</p>
<div class="text-center well">
        <h2>Name: <%= pokemon.name %></h2>
        <h2>Weight: <%= pokemon.weight %></h2>
        <h2>Height: <%= pokemon.height %></h2>
        <h2>Experience: <%= pokemon.base_experience %></h2> 
</div>


