<h3 class="text-center">Bad news bears! There's been an Error!</h3>

<div style="margin: 0 auto">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#errorDeets" role="button" aria-expanded="false" aria-controls="errorDeets">
      More info on the error
    </a>
  </p>
  <div class="collapse" id="errorDeets">
    <div class="card card-body">
      <h6>Found in: <%= errorLocale %></h6>
      <p><%= error %></p>
    </div>
  </div>
</div>