<h1>
    Pokemon Details
</h1>

<h2>
    Name: <%= name %> 
</h2>


<h3>
    Weight: <%= weight %>
</h3>

<h3>
    Height: <%= height %> 
</h3>

<h3>
    <img src="<%= pokemonImage %>"> <- Thats a pokemon bro </a> 
</h3>
