<h1>My favorite Pokemon list:</h1>

<h1>Favorites List:</h1>

<% pokemon.forEach(function(mon, id) { %>
    <a class="atag" href="/pokemon/<%= mon.name %>"><%= mon.name %></a>
    <form action="/pokemon/<%= mon.name %>/?_method=DELETE" method="POST">
        <input type="submit" value="Remove">
    </form>
    <hr>
    <% }) %>
