<div class="container">
    <h1 class="text-center">My Favorites</h1>
    <p class="text-center"><nav><a class="btn btn-outline-success" href="/">Home</a></nav></p>
    <div class="row">
        <% bob.forEach(p => { %>
        <div class="well bg-rad col-md-3 m-1">
            <h5><%=p.name %></h5>
            <a class="btn btn-outline-primary" href="/pokemon/<%=p.id%>">Details</a>
        </div>
        <% }) %>
    </div>
</div>

