<div class="container">
        <h1 class="text-center">The Original 151 Pokemon</h1>
        <p class="text-center">
        <a href="/">Home</a> |
        <a href="/pokemon">Faves</a>
        </p>

    <% pokemon.forEach((pokemon) => { %>
    <div class="well">
        <h2><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></h2>
        <form method="POST" action="/pokemon/<%=pokemon.name%>/?_method=DELETE">
        <input class="btn btn-info" type="submit" value="Delete from Faves.">
        </form>
    </div>
    <% }); %>
</div>