<div class="container">
        <h1 class="text-center">The Original 151 Pokemon</h1>
        <p class="text-center">
        <a href="/">Home</a> |
        <a href="/pokemon">Favorites</a>
        </p>

    <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
        <h2><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></h2>
        <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        </form>
    </div>
    <% }); %>
</div>
