<h1>Favorite Pokemon</h1>
<% results.forEach(result => { %>
    <p><a href="/pokemon/<%= result.name %>"></a><%= result.name %></p>
    <form action="/pokemon/<%= result.name %>?_method=DELETE" method="POST">
        <button type="submit">Delete from Favorites</button>
    </form>
<%})%>

<a href="/">back to the list</a>