<div class="container">
<h2 class="text-center">Favorites</h2>

<% favorites.forEach(function(f) { %>
	<h3><%= f.name %></h3>
		<a href='/favorites/<%= f.name %>' class="delete-fav btn-sm btn-danger">Delete</a>
<% }); %>
</div>