<h2>Favorite Pokemon</h2>

<% pokemon.forEach(function(pokemon){%>
<div>
<h4><a href="/:id.name<%=pokemon.id%>"><%= pokemon.name %></h4>
<a href="/:id<%=pokemon.id%>" class="delete-btn">Delete Pokemon</a>
<hr>
</div>
<% }); %>
