
<div class='poke'>
<h2 >My Favorite Pokemon</h2>
<% result.forEach(function(pokemon) {%>
	<div class='pokemon'>
		<h3><%= pokemon.name %></h3>
		<a href='/pokemon/<%= pokemon.name %>' class= 'button'>Stats</a>
		<a href='/pokemon/<%= pokemon.name %>' class='button delete-link'>Delete</a>
	</div>
<% });%>
</div>
	
