<h1>Favorites</h1>
<% pokemon.forEach((p)=>{ %>
<div>
  <h3>
    <a href="/pokemon/<%= p.name %>">
      <%= p.name %>
    </a>
  </h3>
  <form method="POST" action="/pokemon?_method=DELETE">
    <input type="hidden" name="name" value="<%= p.name %>" />
    <button type="submit">Remove from favorites</button>
  </form>
</div>
<% }); %>
 