<div class="container">
    <h1 class="text-center">Pokedex</h1>
    <p class="text-center">
      <a href="/pokemon">My Favorites</a>
    </p>
  
    <% pokemons.forEach(pokemon => { %>
        <h2><a href='/pokemon/<%= pokemon.name %>'></h2>
        <% }); %>
      </div>
   
      
      