<a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/200810/65d33bea3d0a3c43d6c8e16d20ed5461.png" alt="pokemon-font" border="0"></a>
<% pokemon.forEach((p)=>{ %>
<div>
  <h3>
    <a class='name' href="/pokemon/<%= p.name %>">
      <%= p.name %>
    </a>
  </h3>
  <form method="POST" action="/pokemon?_method=DELETE">
    <input type="hidden" name="name" value="<%= p.name %>" />
    <button type="submit">Remove from favorites</button>
  </form>
</div>
<% }); %>
 