
<h2>Here are your Favs</h2>
<ul>
<% pokemon.forEach(function(pokemon, id) {%>
<h3> <%= pokemon.name %> </h3>
<h4><a href="/pokemon/<%= pokemon.id %>">View Pokemon</a></h4>
    
<form method= "POST" action= "/pokemon/<%= pokemon.id %>">
<input type="Submit" value="DELETE">
</form>




<% }); %>
</ul>