<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Pokemon</title>
</head>
<body>
    <h1>These are my favorite Pokemon!</h1>
    <ul><% pokemon.forEach(p => { %>
        <li> <%= p.name %></li>
   <% }) %>

    </ul>
</body>
</html>