<h1>My Favorite Pokemon:</h1>
<a class="nav" href="/">MAIN PAGE</a>
  <ul>
  <% pokemon.forEach(function(pokemon, id) { %>
    <div class="well">
      <h2 class="name">  <%= pokemon.name %>  </h2>
      <h4><a class="select" href="pokemon/show/<%= pokemon.id %>">View Pokemon</a></h4>
   
  
    <form method="POST" action="/pokemon/show/<%= pokemon.id %>/?_method=DELETE">
      <input class="delete" type="submit" value="DELETE">
    </form>
    </div>
    <% }); %>
  </ul> 