<h2>Here are your Favs</h2>
<ul></ul>
<% pokemon.forEach(function(pokemon, id) {%>
<h2> <%= pokemon.name %> </h2>
<h4><a href="pokemon/details/<%= pokemon.id %>">View Pokemon</a></h4>
    


<% }); %>
</ul>