<div class="container">
  <div class="row">
    <% pokemon.forEach(function(pokemon) { %>
      <div class="col s6 m4 l3">
        <div class="card">
          <div class="card-image">
            <img src="<%= pokemon.image %>">
            <span class="card-title"><%= pokemon.name %></span>
          </div>
          <div class="card-content">
            <div class="card-action">
              <a id="delete-link" href="/pokemon/<%= pokemon.name %>/destroy">Delete From Favorites</a>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
