<div class='favorites'>
	<h1 class='title'>Favorite Pokès</h1>

	<ul class='favoriteList'>
		<% for(var i=0; i < pokemon.length; i++) {%>
		<li>
			<a class='name' href="<%='/pokemon/'+ pokemon[i].name%>"><% =pokemon[i].name %></a> ---- <a class='deletePokemon' href="<% ='/pokemon/'+pokemon[i].name+ '?_method=DELETE'%>">Remove Favs</a>
		</li>
		<% } %>
	</ul>
	<a href='/'>To Main List</a>
</div>