<div class="container">
    <div class="faves">
        <img src="https://fontmeme.com/permalink/210606/68e190b86f5b1b2cd1695464088713d4.png" alt="pokemon-font" border="0">
        <a href="/" class="nav-link fave-link">back home</a>
    </div>
  
<div class="balls-container">   
    <% pokemon.forEach(function(pokemon) { %>
    <div class="ball">
        <h2 class="all-names"><%= pokemon.name %></h2>
        <div class="line">
            <div class="circle">
            </div>
        </div>
        <a href="/pokemon/<%= pokemon.name %>" class="see-more add-btn">See More!</a>
    </div>
    <% }); %>
  </div>
</div> 