<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Pokemon</title>
</head>

<body>
    <button><a href="/">Back</a></button>
    <h1 class = "text-center">Favorites</h1>

    <div class="container text-center">
        <% pokemons.forEach(poke => { %>
        <div class="row">
            <div class="well well-sm">
                <h2><%= poke.name.charAt(0).toUpperCase()+poke.name.slice(1) %></h2>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" alt="">
                <h5><a href="pokemon/<%= poke.id%>">Details</a></h5>
                <hr>
                <form action="/delete/<%= poke.id %>?_method=DELETE" method="POST">
                <input hidden type="text" name = "delete" value = "<%= poke.name %>">
            <button type = "submit">Remove From Favorites</button></form>
            </div>
        </div>
        <%    }) %>
        
    </div>
</body>

</html>