<div class="container">
  <h1 class="text-center">My Faves Y'all</h1>
  <p class="text-center">
    <a href="../">home</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
      </form>
    </div>
  <% }); %>
</div>