<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Favorite Pokemon</title>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <h1>Your Favorites!</h1>
    <div class ="container">
    <% if (pokemons.length) { %>
        <div class="row">
        <% pokemons.forEach(poke => { %>
            <div class="col s6">
                <h2><%= poke.name.charAt(0).toUpperCase()+poke.name.slice(1) %></h2>
                <a href= "./<%- poke.id %>" class="waves-effect waves-light btn blue lighten-1" style="margin:5px;">Details</a>
                <form method="DELETE" action="/delete/<%- poke.id %>">
                    <input hidden type="text" name="delete" value="<%= poke.name %>">
                    <button class="btn btn-primary blue lighten-1" type="submit">Remove from Favorites</button>
                </form>
                <hr>

            </div>
        <% }) %>
    </div>
    <% } else { %>
        <h2>No favorites yet!</h2>
    <% } %>
</div class ="container">
</html>