<div class="favoritesPage">

  <h1 class="text-center">Favorites</h1>
  <p class="text-center">
    <a href="/">Home</a>
    <div class="spread">
    </p>
    
    <div class="">
      <% pokemon.forEach(function(pokemon) { %>
        <div class="favs">
          
          <p>
            <%= pokemon.name %>
            <img src="" alt="">
            
          </p>
          
          
          
          
          <form action="/pokemon/<%= pokemon.name %>/" method="GET">
            <button class=" btn-primary" name="details" >Details</button>
          </form>
          <form action="/pokemon/<%= pokemon.name %>/?_method=DELETE" method="POST">
            <button class=" btn-primary" type="submit" name="name" value="<%= pokemon.name %>">⛔</button>
        </form>
        
      </div>
      
      
      
      
      
      
      
      
      <% }); %>
    </div>
  </div>
  
 
