<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Pokemon</title>
</head>
<body>
    <h1>My Favorite Pokemon</h1>

   <div class="favPokes">
    <% pokemon.forEach(function(pokemon) { %>
        <div class="well">
          <h4><%= pokemon.name %></h4>
          <form method="GET" action="/pokemon/<%= pokemon.name %>">
            <button class="btn btn-primary" type="submit">More PokeFacts</button>
          </form>

          <form method="POST" action="/pokemon/<%= pokemon.name %>?_method=DELETE">
            <button class="btn btn-primary" type="submit" value="delete">Delete</button>
            </form>
        </div>
      <% }); %>
    </div>
   </div>
   <div class="mew"></div>
</body>
</html>