<h1> Favorite Pokemon</h1>
<hr>

  <% favorites.forEach(function(pokemon){ %>
    <div id='favs'>
      <h3 id='fav'><%= pokemon.name.toUpperCase() %></h3>
      <a href="/pokemon/<%= pokemon.id %>">View Details</a>
      
    </div>
	<% }); %>