<div class='container'>
	<h2><a href='/'>Back to Pokemon list</a></h2>

	<% result.forEach(function(pokemon) { %>
	<div class='well'>
		<h4><%=pokemon.name %> </h4>
		<a href='/pokemon/<%-pokemon.name %>'>Pokemon Info</a>
	</div>
<% }) %>
</div>