<div class="container">
    <h1 class="text-center">The Original 151 Pokemon</h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
    </p>
    <% pokemons.forEach(pokemon =>{ %>
       <h2><a href="/pokemon/<%= pokemon.name %>"> <%= pokemon.name %></a></h2>
    <% }) %>

    </div>