<link rel="stylesheet" type="text/css" href="/css/favorites.css">
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

<div class="container">
  <div id="pokedex" class="col-xs-10 col-xs-offset-1">
      <h1>Your Favorite Pokemon</h1>
      <p class="text-center">
      </p>

      <% favorites.forEach(function(pokemon) { %>
      <div class="row">
        <div class="well well-sm col-sm-4 col-sm-offset-1">
          <h2><%= pokemon.name %></h2>
        </div>
      </div>
      <% }); %>
  </div>
</div>
