
<div class="container">
    <h1 class="text-center">My Favorite Pokemon</h1>
    <% pokemon.forEach(function(pokemon) { %>
        <%// console.log(pokemon) %>
        <div class="well">
            <h2><%= pokemon.name %></h2>
            <a href="/pokemon/<%= pokemon.name %>">
                <button class="btn btn-red">See My Boy</button>
              </a>
        </div>
        <% }); %>
</div>