<h1>Favorite Pokemon</h1>
<% results.forEach(pokemon => { %>
    <p>
        <a href="/pokemon/<%= pokemon.name %>"> <%= pokemon.name %></a>
    </p>
    <form action="/pokemon/<%= pokemon.name %>?_method=DELETE" method="POST">
        <button type="submit">Delete from Favorites</button>
    </form>
<%})%>

<a href="/">back to the list</a>