<div class="pokeball">
  <a href="/pokemon"><span class="overlay-link"></span></a>

  <div class="ball-top red-gradient z-depth-5">
  </div>
  <div class="ball-center z-depth-3">
    <div class="ball-center-button z-depth-2"></div>
  </div>
  <div class="ball-bottom white-gradient z-depth-5">
  </div>
</div>

<h2 class="block-title">
<a href="/pokemon">Pokédex</a>
</h2>