<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home_styles.css" type="text/css">
  </head>
  <body>


    <div class="container">

    <%- body %>

    </div>


    <!-- Materialize JS -->
    <script src="/js/materialize.min.js"></script>
  </body>
</html>
