<div class="pokeball">
  <div class="ball-top red-gradient">
  </div>
  <div class="ball-center">
    <div class="ball-center-button"></div>
  </div>
  <div class="ball-bottom white-gradient">
  </div>
</div>

<h2 class="block-title">
<a href="/pokemon">Enter</a>
</h2>