<div class="container">
  <div id="header-image">
    <img id = "logo" src="/img/logo.png">
  </div>
  <div id ="favorites-container">
      <img class="pokeball" id="pokeball1" src="/img/pokeball.png">
      <a id= "favorites-link" href="/pokemon">Favorites</a>
      <img class="pokeball" id="pokeball2" src="/img/pokeball.png">
  </div>

  <% pokemon.forEach(function(pokemon) { %>
  <% var url = pokemon.url %>
  <% var url_short = url.substring(0,url.length -1)%>
  <% var id = url_short.substring((url_short.lastIndexOf('/'))+1); %>
    <div class="well">
      <h2>
        <a href="/pokemon/<%=id%>" id="pokemon-link"><%= pokemon.name %></a>
      </h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorites!</button>
      </form>
    </div>
  <% }); %>
</div>
