<div class="container">
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <table class="table">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary pokemonPost" type="submit">Add to Favorite Pokemon</button>
      </form>
    </table>
  <% }); %>
</div>
