<div class="container">
  <div class="banner">
    <img class="pokedex" src="https://fontmeme.com/permalink/210606/88af81c7f92bcaa0951336607f661954.png" alt="pokemon-font" border="0">
    <p>Add your favorite pokemon your very own custom list! Then go check them out by clicking "Favorites"</p>
    <a href="/pokemon" class="nav-link home-nav">go to favorites</a>
  </div>  
  <div class="balls-container">
    <% pokemon.forEach(function(pokemon) { %>
      <div class="ball">
        <h2 class="all-names"><%= pokemon.name %></h2>
       <div class="line"><div class="circle"></div></div>
        <form method="POST" action="/pokemon">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="add-btn" type="submit">Add to faves</button>
        </form>
      </div>
    <% }); %>

  </div>
</div>
