<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <nav><a href="/pokemon" type="button" class="btn btn-success">Favorites</a></nav>
  </p>
  <div class="row">
    <% pokemon.forEach(function(pokemon) { %>
    <div class="well col-md-4">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-outline-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
    <% }); %>
  </div>
</div>