<h2 style="color: rgba(0, 0, 0, 0.3);">scroll down</h2>
  <div class='poke' >
    <% pokemon.forEach(function(pokemon) { %>
       <h2 style='color: white;'><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    <% }); %>
  </div>

