<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <div class="row">
    <% pokemon.forEach(function(pokemon) { %>
      <div class="col-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><h3 class="text-center"><%= pokemon.name %></h3></div>
          <div class="card-body mx-auto">
            <form method="POST" action="/pokemon">
              <input hidden type="text" name="name" value="<%= pokemon.name %>">
              <button class="btn btn-primary" type="submit">Add to Favorites</button>
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>



