<head>
    <style>
        img {
            width: 500px;
            margin: -10px 0 -60px 0;
        }
      </style>
</head>
<a href="/">Home</a>
<body style="text-align: center">
    <h1>Here Are All Your Favorite Pokemon!</h1>
    <img src="https://eskipaper.com/images/pokemon-wallpaper-9.jpg" alt = "four pokemon">
    <% results.forEach((pokemon) => { %>
        <h3>
            <a href="/pokemon/<%= pokemon.name %>">
                <%= pokemon.name %> 
            </a> 
        </h3>
        <form method="POST" action="/pokemon/<%= pokemon.name %>?_method=DELETE">
            <button type="submit">Remove from Favorites</button>
        </form>
        <br>
    <% }) %> 
</body>