<div class="container">
  <nav>
    <h1 class="text-center"><img src="/img/poke-logo.png" alt=""></h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
    </p>
  </nav>  
</div>
<div class="main">
  <div class="container">
    <% pokemon.forEach(function(pokemon) { %>
      <div class="well">
        <h2><%= pokemon.name %></h2>
        <form method="POST" action="/pokemon">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
        </form>
      </div>
    <% }); %>
  </div>
</div>

