<div class="container">
  <h1 class="text-center">Pokemon Picker</h1>
  <p class="text-center">
    <a href="/pokemon" class="btn btn-danger">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="card w-50 text-center m-2 border border-danger">
      <div class="card-body">
      <h2 class="card-title"><%= pokemon.name %></h2>
      <%# Really cool utilization of hidden input to get simple form data,  Remember for future use. %>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="url" value="<%= pokemon.url %>" />
        <input hidden type="text" name="name" value="<%= pokemon.name %>" />
        <input class="btn btn-warning" type="submit" value="Favorite" />
      </form>
      </div>
    </div>
  <% }); %>
</div>
