
<div class="jumbotron">
  <h1 class="text-center">1st Generation is the Only Generation</h1>      
  <p class="text-center">
    <a href="/favorites">Favorites <span class="badge"><%=favPokeCount%></span></a>
  </p>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="text-center">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/favorites">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-star"></span> Add to Favorites!
        </button>
      </form>
    </div>
  <% }); %>
</div>

