<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <hr>
  <div class="row justify-content-around">
  <% pokemon.forEach(function(pokemon) { %>
    <% if(pokemon.isFave){ %>
      <div class="col-sm-6 col-lg-4">
        <div class="card in-faves">
            <div class="card-body">
              <h2 class="card-title"><%= pokemon.name %></h2>
              <form>
                <input hidden type="text" name="name" value="<%= pokemon.name %>">
                <button class="btn disabled" type="button">Already in Your Favorites</button>
              </form>
            </div>
          </div>
      </div>
    <% } else { %>
      <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title"><%= pokemon.name %></h2>
              <form method="POST" action="/pokemon">
                <input hidden type="text" name="name" value="<%= pokemon.name %>">
                <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
              </form>
            </div>
          </div>
      </div>
    <% } %>
  <% }); %>
  </div>
</div>
