<% pokemon.forEach(function(pokemon) { %>
  <div class="well">
    <h2 class="poke-name"><%= pokemon.name %></h2>
    <form method="POST" action="/pokemon">
      <input hidden type="text" name="name" value="<%= pokemon.name %>">
      <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
    </form>
  </div>
<% }); %>
<div class="pagination-nav">
</div>
