<main class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <nav>
    <a href="/pokemon">Favorites</a>
  </nav>

  <section class="collection">
    <% pokemon.forEach(function(pokemon) { %>
      <a href="/pokemon/<%=pokemon.name%>" class="poke-link well">
        <div>
          <h2><%= pokemon.name%></h2>

          <form method="POST" action="/pokemon">
            <input
              hidden
              type="text"
              name="name"
              value="<%= pokemon.name %>"
            />
            <button class="index-fave-btn" type="submit">
              <img src="/img/fave-add.svg" alt="">
            </button>
          </form>

        </div>
      </a>
    <% }); %>
  </section>
</main>
