<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon, idx) { %>
    <div class="box col-xs-6 col-sm-3 col-md-3 col-lg-2">

      <h4>#<%= idx+1 %></h4>
      <h3><a href="<%= pokemon.url %>"><%= pokemon.name %></a></h3>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="button" type="submit">❤️</button>
      </form>

    </div>

    <!-- <div class="well">

    </div> -->
  <% }); %>
</div>
