<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon" class="btn btn-info">Favorites</a>
  </p>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Info</button>
        <button class="btn btn-primary glyphicon glyphicon-heart" type="submit"></button>
        <!-- <input hidden type="text" name="name" value="<%= pokemon.id %>"> -->
        <!-- <button class="btn btn-danger delete" type="delete">Remove Pokemon</button> -->
      </form>
    </div>
  <% }); %>
</div>
