<div class="container">
  <h1 id="top"class="text-center">The Original 151 Pokemon</h1>
  <p id="nav" class="text-center">
    <a href="/">Home</a> |
    <a href="/pokemon">Favorites</a> 
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name.toUpperCase() %></a></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
