<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/poke/favorite" class="btn btn-info">Favorites</a>
  </p>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="./poke/favorite">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary glyphicon glyphicon-heart" type="submit"></button>
      </form>
        <!-- <input hidden type="text" name="name" value="<%= pokemon.id %>"> -->
        <!-- <button class="btn btn-danger delete" type="delete">Remove Pokemon</button> -->
    </div>
  <% }); %>
</div>
