<div class="container">
  <h1 class="text-center">Choose your favorite Pokemon!</h1>
  <p class="text-center">
    <a class="fav-link" href="/pokemon">Favorites</a>
  </p>
  <div class="pokedex-display">
    <% pokemon.forEach(function(pokemon) { %>
      <div class="pokedex-cell">
        <form method="POST" action="/pokemon">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="pokedex-info-display fave-btn" type="submit"><img class="btn-sprite" src="<%= pokemon.spriteFrontM  %>" alt="<%= pokemon.name %> front facing sprite"></button>
        </form>
        <h1 class="pokedex-info-display poke-name"><%= pokemon.name.toUpperCase() %></h1>
      </div>
    <% }); %>
  </div>
</div>
