<div class="container">
  <h1 class="text-center"><a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210606/88af81c7f92bcaa0951336607f661954.png" alt="pokemon-font" border="0"></a></h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
