<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <% var name = pokemon.name; %>
    <% name = name.charAt(0).toUpperCase() + name.slice(1); %>
    <div class="well">
      <h2><%= name %></h2>
      <a class="waves-effect waves-light btn modal-trigger capture-button" href="#modal1" data-name="<%= pokemon.name %>">Capture</a>
    </div>
  <% }); %>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <form method="POST" id="capture-form" action="/pokemon">
      <div class="modal-content">
        <h4>Pokemon Details</h4>
        <p>Provide some additional information about the Pokemon you've captured:</p>
        <input hidden type="text" name="name" id="pokemon-name" value="">
        <label for="">Nickname:</label><br>
        <input type="text" name="nickname"><br>
        <label for="">Level:</label><br>
        <input type="number" name="level"><br>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      </div>
    </form>
  </div>
</div>
