<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% let counter=1; %>
    <% pokemon.forEach(function(pokemon) { %>
      <!-- <div class="well"> -->
      <h2>
        <%=pokemon.name %>
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=counter%>.png">
          <form method="POST" action="/pokemon">
            <input hidden type="text" name="name" value="<%= pokemon.name %>">
            <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
          </form>
          <form method="GET" action="/pokemon/details">
            <input hidden type="text" name="name" value="<% pokemon.name %>">
            <button class="btn btn-primary" type="submit">View Details of <%= pokemon.name %></button>
          </form>
          <% counter++; %>
            <% }) %>
      </h2>
      <!-- </div> -->