<div class="container">
  <h1 class="main-title text-center">The Original 151 Pokemon</h1>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="string" name="name" value="<%= pokemon.name %>">
        <input hidden type="string" name="url" value="<%=pokemon.url%>">
        <button class="btn btn-primary glyphicon glyphicon-heart" data-toggle="tooltip" data-placement="right" type="submit"></button>
        <div class="tooltip bs-tooltip-top" data-animation="hover-focus" role="tooltip">
          <div class="arrow"></div>
          <div class="tooltip-inner">Add to Favorite Pokemon!</div>
        </div>
      </form>
    </div>
  <% }); %>
</div>
