<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <div class="flex wrap">
    <% pokemon.forEach(function(pokemon) { %>
      <div class="box">
        <h2 class="capitalize"><%= pokemon.name %></h2>
        <form method="POST" action="/pokemon">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="btn btn-primary" type="submit">Favorite</button>
        </form>
      </div>
    <% }); %>
  </div>
</div>
