<div class="title">
  <h1 class="text-center">The Original 151 Pokémon</h1>
</div>
<div class="container">

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2 id="indexname"><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon/" >
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite</button>
      </form>
    </div>
  <% }); %>
</div>
