
<div class="container">
  <p class="text-center">
  <% pokemon.forEach(function(pokemon) { %>
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" onclick="catchPokemon()" type="submit">Throw Pokeball!</button>
      </form>
    <div id="snackbar">You caught it! Click <a href="/pokemon">here</a> to view your team.</div>
  <% }); %>
</div>
