<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
  <script>
  window.onload = function() {
    var nextNum = location.href.match("more") ? Number(location.href.replace(/.+more\//, "")) + 20 : 20,
      moreLink = document.getElementById("more");
      moreLink.href = "/more/" + nextNum;
      if (nextNum > 151) {
          moreLink.remove();
      }
  };
  </script>
  <a id="more" href="">Next 20</a>
</div>
