<header>
  <h1 class="text-center">Pokédex</h1>
</header>
<div class="container">
  <h1>About Pokédex</h1>
  <p>Capture many Pokemon as you can to build up your Pokdex. To begin, start <a href="/play">catching Pokemon</a>!</p>
</div>