<div class="container">
    <h1 class="text-center">The Original 151 Pokemon!</h1>
    <br>

    <div class="text-center">
        <a href="/pokemon" class="btn btn-success">See Favorite Pokemon</a>
    </div>

    <hr>

    <% pokemon.forEach(function(pokemon) { %>
        <div style="width: 500px; margin: 0 auto; clear: both;">
            
            <div style="float: left;">
                <h2 style="display: inline-block;"><img src="http://i1.wp.com/nintendo-papercraft.com/wp-content/uploads/2014/04/pokeball.png?resize=512%2C376" width="40px" style="margin: 0 15px 5px 0"><%= pokemon.name.toUpperCase() %></h2>
            </div>

            <div style="float: right;">
                <form method="POST" action="/pokemon" style="display: inline-block;"">
                    <input hidden type="text" name="name" value="<%= pokemon.name %>">
                    <button class="btn btn-primary" type="submit" style="margin: 15px 0 0 0">Add to Favorites</button>
                </form>
            </div>

        </div>

  <% }); %>
</div>
