<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon/favorite">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon/favorite">
        <input hidden type="text" name="title" value="<%= pokemon.name %>">
        <input hidden type="text" name="content" value="<%= pokemon.url%>">
        <button class="btn btn-primary" type="submit">Add to Favorites</button>
      </form>
    </div>
  <% }); %>
</div>