<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
      <br />
      <form action="/pokemon/details" method="POST">
        <input hidden type="text" name="id" value="<%= pokemon.url.slice(34, pokemon.url.length - 1) %>">
        <button class="btn btn-primary" type="submit">Details</button>
      </form>
    </div>
  <% }); %>
</div>