<div class="page-header">
  <h1 class="text-center">The Original 151 Pokémon</h1>
    <p class="text-center">
      <a href="/pokemon" id="listLink">See Favorite Monsters</a>
    </p>
</div>
<div class="container">
  <% pokemon.forEach(function(pokemon) { %>
    <div id="homeList" class="well">
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-default pull-right" type="submit">
        <span class="glyphicon glyphicon-star"><span id="add"> Add to Favorites</span></span>
        </button>
        <h2><%= pokemon.name %></h2>
      </form>
    </div>
  <% }); %>
</div>


