<div class="showContainer">
  <h1 class="title">Pokédex</h1>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="indexCard">
      <h2 class="capitalize"><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>