<header>
  <h1>Pokedex Origin 151</h1>
</header>



<main>
<img src="/img/background.png" alt="">
<div id="links">
  <div id="alllinkdiv">
    <a href="/pokemon/page/1">All Pokemon</a>
  </div>

  <div id="favlinkdiv">
    <a href="/pokemon/fav/1">Favorate List</a>
  </div>
</div>

</main>

<%- contentFor('css')%>
/css/index.css
<%- contentFor('script')%>
