<div class="list">
  <% pokemon.forEach(function(pokemon) { %>
    <div class="list-entry">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn" type="submit">add</button>
      </form>
    </div>
  <% }); %>
</div>
