<main class="homepage-main">
<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Go To Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2 class="main-name"><%= pokemon.name.toUpperCase() %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input class="btn-main" type="submit" value="Add to Favorite Pokemon">
      </form>
    </div>
  <% }); %>
</div>
</main>
