
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>
  <div class="container index">
  
  
  <%let i=1 %>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="grid">
    
      <img class="fpImages" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=i%>.png" alt="" >
      <p>
        <%= pokemon.name %></h2>
      </p>
      
      <div class='buttonDiv'>

        <form method="POST" action="/pokemon">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="btn btn-primary" type="submit"  >💙</button>
        </form>
        
        <form action="/pokemon/<%= pokemon.name %>/" method="GET">
          <button class="btn btn-primary" name="details" >info</button>
        </form>
      </div>
      
    </div>
      <% i++ %>  
      <% }); %>

   
      
</div>