<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <form method="POST" action="/search">
    <input type = "search" name = "searchName" placeholder = "Search for a Pokemon!">
  </form>
  </p>

  <div class="row">
  <% pokemon.forEach((pokemon) =>{ %>
    <div class="col s6">
      <div class="well">
      <h2><%= pokemon.name.charAt(0).toUpperCase()+pokemon.name.slice(1) %></h2>
      <form method="POST" action="/favorites">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn waves-effect waves-light blue lighten-1" type="submit">Add to Favorite Pokemon
          <i class="material-icons right">add_box</i>
        </button>
      </form>
    </div>
      <hr>
    </div>
    <% }); %>
  </div>
</div>


