<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <div class="pokeDiv">
      <a href="/pokemon">Favorites</a>
    </div>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="pokeDiv">
      <h2 class="coolHeader"><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="slickButton" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
