<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <% if (faves.indexOf(pokemon.name) !== -1) { %>
          <button class="btn btn-danger" disabled>Favorited</button>
        <% } else { %>
<!--         <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" value="">
        <label for="level">Level:</label>
        <input type="text" name="level" value="1">
 -->        <button class="btn btn-primary" type="submit">+Favorite</button>
        <% } %>
      </form>
    </div>
  <% }); %>
</div>
