<div class="container">
  <h1>The Original 150 Pokemon</h1>
  <div class="row">
  <% pokemon.forEach(function(pokemon) { %>
    <div class="col s12 m3">
      <div class="card small">
        <div class="card-image">
          <img class="responsive-img" src="img/<%= pokemon.name%>.png">
        </div>
        <div class="card-content">
          <p><%= pokemon.name %></p>
        </div>
        <div class="card-action">
          <form method="POST" action="/pokemon">
            <input hidden type="text" name="name" value="<%= pokemon.name %>">
            <a href="/pokemon/<%= pokemon.name %>">More Info</a>
            <button class="btn blue" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  <% }); %>
  </div>
</div>