
  <a id="faves" class="btn btn-success" href="/pokemon">Favorites</a>
  <h1 class="text-center">The Original 151 Pokemon</h1>


  <% var num = 0; %>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <% var number = num += 1; %>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= number %>.png">
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>

