<h1>All Your Favorite Pokemon</h1>
<%results.forEach(result => {%>
    <h3>
        <a href="/pokemon/<%= result.name %>"><%= result.name %></a>
    </h3>
    <form action="/pokemon/<%= result.name %>?_method=DELETE" method="POST">
        <button type="submit">Remove From Faves</button>
    </form>
<%})%>