<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
  </p>
  
  <% for(let i = 0; i < pokemon.length; i++) { %>
    <div class="well">
    <% console.log(pokemon[i].name)%>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= i + 1 %>.png">
      <h2><%= pokemon[i].name.charAt(0).toUpperCase() + pokemon[i].name.slice(1) %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon[i].name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }; %>
</div>
