<div class="container">
  <h1 class="text-center">Gotta Catch 'Em All!</h1>
  <p class="text-center">
    <a href="/pokemon">Pokedex</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-success" type="submit" onclick="return alert('<%=pokemon.name %> caught!')">Catch</button>
      </form>
    </div>
  <% }); %>
</div>
