<div class="white-bg">
  <h1 class="text-center">The Original Pokemon</h1>
  <h4>Which are your favorites?</h4>
  <p>Click on the "Add to Favorites" buttons to add a pokemon to your favorites page. Click on the "Details" button to learn more about each one.</p>
  <% pokemon.forEach(p => { %>
    <div class="well">
      <h2><%= p.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= p.name %>">
        <button class="btn btn-danger" type="submit">Add to Favorites 🤍 </button>
      </form>
      <form action="/pokemon/<%=p.name%>">
          <button class="btn btn-warning">Learn More</button>
      </form>
    </div>
  <% }); %>
</div>
