<div class="container">
<p style="text-align: center">
    <a href="/pokemon" class="btn btn-primary fave">My Favorite Pokemon</a>
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="pokemonlist">
    <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" id="pokemon-info" value="<%= pokemon.name %>">
        <a href="/pokemon/<%-pokemon.name %>" class="btn btn-primary">Poke Stats</a>
        <button class="btn btn-primary" type="submit">Add to Faves</button>
      </form>
    </div>
    </div>
  <% }); %>
</div>
