<header>
  <h1>Pokedex Origin 151</h1>
  <hr/>
</header>



<main>

<a href="/pokemon/page/1">View All Pokemon</a>

<a href="/pokemon/fav/1">View Favorate List</a>

</main>

<%- contentFor('css')%>
/css/index.css
<%- contentFor('script')%>
