<div class="container">
	<h2><%= pokemon.name  %></h2>
	<img src="<%= pokemon.sprites.front_default %>">
	<h4><%= pokemon.types[1].type.name  %></h4>
	<h4><%= pokemon.types[0].type.name  %></h4>
</div>