<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/"><img src="http://localhost:3000/img/pokeLogo.png" class="logo"></a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/pokemon">Favorite Pokemon</a></li>
          <li>
             <form method="GET" action="/pokemon" class="searchBar">
              <input id="search" type="search" placeholder="Search Favorites..." required>
            </form>
          </li>
        </ul>
      </div>
  </nav>
    <%- body %>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
