<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <p class="center-align">
      <a href="/pokemon">Favorites</a>
    </p>
    <%- body %>


    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/scripts.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
