<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
        <nav>
            <div class="nav-wrapper indigo accent-4">
              <a href="#" class="brand-logo yellow-text text-accent-3">
                <img class="responsive-img width" src="https://t4.rbxcdn.com/1ef0c45ff8a54977ace879eaef624316">
                PokeDex
              </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="yellow-text text-accent-3" href="/">Pokemon!</a></li>
                <li><a class="yellow-text text-accent-3" href="/pokemon">My Favorites</a></li>
              </ul>
            </div>
        </nav>
    <%- body %>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
