<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <style>

    .container{
      height: 90vh;
      margin: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      
    }
   

     .grid{
      height: 100px;
      width: 40px;
      font-size: smaller;
      margin-bottom: 50px;
      display: grid;
      justify-content: center;
     text-align: center;
      }
      body{
        background-color: lightblue;
      }
     
     .btn{
       height: 20px;
       width: 40px;
       justify-content: center;
       font-size: 8px;
       float: left;
       margin: 1px;
       text-align: center;
     }
     .buttonDiv{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      text-align: right;
     }
     .details{
      display: grid;
      margin-left: 200px;
      background-color: cadetblue;
      
      
     }

     .index{
       
       display: grid;
       margin: auto;
       
     }
      </style>
 
 
  </head>
  <body>
    <%- body %>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
