<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  </head>
  <body>
    <!-- Materialize nav bar with links -->
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Pokedex</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="/">Home</a></li>
          <li><a href="/pokemon">Favorites</a></li>
        </ul>
      </div>
    </nav>

    <!-- Materialize nav bar for small devices -->
    <ul class="sidenav" id="mobile-demo">
      <li><a class="/">Home</a></li>
      <li><a href="/pokemon">Favorites</a></li>
   </ul>

    <%- body %>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
