<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootleg</title>
    <link rel="shortcut icon" href="../favicon.ico" /> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>
  <body>
    <header>
      <a href="/"><h2>Bootleg</h2></a>
      <form action="/" method="POST">
        <input type="text" name="search" placeholder="Enter Artist Name">
        <input type="submit">
      </form>
    </header>

    <aside class="container-fluid">
      <div class="row">
        <div class="col-xs-8">
          <%- body %>
        </div>
        <div class="col-xs-4">
          <div class="asideLinks">
            <p>Hoard</p>
          </div>
          <div class="asideLinks">
            <p>Covet</p>
          </div>
          <div id="recentSearches">
            <p>Recent Searches</p>
            <%- defineContent('recentSearches')%>
          </div>
        </div>
      </div>
    </aside>
    
    

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
