<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
  </head>
  <body>
  <h2><a href="/">Home</a> | <a href="/pokemon">Favorites</a></h2>
  <img id='logo' src="/img/logo.png" alt="">
    <%- body %>
  </body>
</html>
