<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper red accent 3">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Homepage</a></li>
          <li><a href="/pokemon">Favorite Pokemon</a></li>
        </ul>
      </div>
    </nav>
    <%- body %>

    <!-- jQuery -->
     <script src="//code.jquery.com/jquery.js"></script> 
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
