<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <title>Pokedex</title>
  </head>
  <body>
    <%- body %>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
