<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <p class="text-center">
      Welcome to your Pokedex, I am Dexter!
    </p>
    <div class="container">
      <div class="container">
      <div class="row">
        <div class="col-xs-6 pokedex-dark-red pokedex">
          <div class="leds">
            <div class="big-led left"></div>
            <div class="led red left"></div>
            <div class="led yellow left"></div>
            <div class="led green left"></div>
          </div>
          <div class="screen">
            <%- body %>
          </div>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
              <div class="med-led black left"></div>
            </div>
            <div class="col-xs-5">
              <button class="button-small button-black red left"></button>
              <button class="button-small button-black green left"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-5">
              <button class="green button-lg"></button>
            </div>
          </div>
        </div>

        <div class="col-xs-6 pokedex-dark-red text-center pokedex">
          <div class="small-screen">
          </div>
          <br>
          <div class="button-grid">
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <br>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
            <button class="button-med button-blue"></button>
          </div>

          <div class="row">
            <div class="col-xs-offset-1 col-xs-5">
              <div class="led red left"></div>
              <div class="led red left"></div>
            </div>
            <div class="col-xs-5">
              <button class="button-small button-black right"></button>
              <button class="button-small button-black right"></button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-offset-1 col-xs-5">
              <button class="button-med button-white"><a href="/">Home</a></button>
              <button class="button-med button-white"><a href="/pokemon">Favs</a></button>
            </div>
            <div class="col-xs-5">
              <div class="med-led yellow right"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-offset-1 col-xs-5">
              <button class="black button-lg"></button>
            </div>
            <div class="col-xs-5">
              <button class="black button-lg right"></button>
            </div>
          </div>


        </div>
      </div>
      </div>




    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
