<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/0b8790a92d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/delete.js"></script>
  </head>
  <body id="bootstrap-overrides">
    <div class="container">
      <nav>  
        <a id="pokemon-logo" href="/">    
          <img src="/img/pokemon-logo.jpg" alt="pokemon logo">
        </a>
        <p class="text-center-button">
          <a class="nav-item" href="/">    
            <img class="nav-icon" src="/img/pikachu.jpg" alt="all pokemon">
            The Original 151 Pokemon
          </a>
          <a class="nav-item" href="/pokemon">    
            <img class="nav-icon" src="/img/pokeball.jpg" alt="favorites">
            Favorites
          </a>
        </p>
      </nav>

    <%- body %>

    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
