doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pokedex
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")

    <!-- Tachyons CSS -->
  link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
  body
    block content
