<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="center">
    <div class="header"><a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/220224/f58572ee48a6fcea44f8bdad18111c75.png" alt="pokemon-font" border="0"></a>    
    </div>
  </div>
  <div class="center">
    <div  class="header">
   Express API and Sequelizer exercise
    </div>
    </div>
    <main>
      <%- body %>
    </main>
  </body>
</html>
