<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokédex</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

  <nav>
    <span class="navitem"><a href="/">About</a></span>
    <span class="navitem"><a href="/play">Catch</a></span>
    <span class="navitem"><a href="/pokemon">Your Pokedex</a></span>
  </nav>

    <%- body %>

    <footer>
      Footer text
    </footer>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Routing file for ajax -->
    <script type="text/javascript" src="/js/router.js"></script>
  </body>
</html>
