<div class="container">
    <h1 class="text-center titles">More Info on  <%= response.name%></h1>
    <p class="text-center nav-links">
      <!-- <a href="/">More Info</a> -->
      <!-- <img class="pipe" src="/img/ash1.png" /> &nbsp; -->
      <!-- <span class="links" style="color: #1f4979;"> >> Favorites << </span> -->
    </p>
    <div class="well">
      <p class="poke-list"><img class="list-ball" src="/img/pokeball-sm2.png">
  

  <%= response.name%>
  <%= response.name.weight%>

      <br>
      <hr>
    </p>
    </div>

    <div class="to-top">
      <a href="#top">back to top &#x2191;</a>
    </div>
  </div>
  