
    <h1>My Favorite Pokemon</h1>

    <% result.forEach(function(p) {%>
    <div class ="well">
    <h3><%=p.name%></h3>
    <a href='/pokemon/<%-p.name%>' class="btn">Learn More</a>
    </div>
    <% });%>
