    <div class="pokemonlist">
    <h2 class="btn btn-primary fave"><a href="<%= "/" %>"> Back to All Pokemon</a></h2>

    <% result.forEach(function(pokemon) {%>
    <div class ="well">
    <h3><%= pokemon.name %></h3>
     <a href="/pokemon/<%-pokemon.name %>" class="btn btn-primary">Poke Stats</a>
    </div>
    <% });%>
    </div>
