<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Pokemon</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/main.js"></script>
        <link rel="author" href="humans.txt">
    </head>
    <body>
    <h1>My Favorite Pokemon</h1>

    <% result.forEach(function(p) {%>
    <div class='pokemonlist'>
    <h3><%=p.name%></h3>
    <a href='/pokemon/<%= p.name %>' class="btn">Learn More</a>
    </div>
    <% });%>
    </body>
</html>
