<h2 class="text-center">Add a Beer! </h2>
<form class="form" method="post" action="/pokemon/new">
  <div class="form-group">
    <label for="name">Name:<label>
			      <input type="text" name="name" id="name" class="form-control" placeholder="Enter your beer's name here">
			  </div>
    <input type="submit" class="btn btn-black btn-lg" value="Make new Beer">
</form>
