
<h1>My favorite Pokemon</h1>


<ul>

<% pokemon.forEach(function(pokemon){ %>

  <li><a href="pokemon/<%= pokemon.name %> "><%= pokemon.name %></a></li>
  <button class= 'submit'>Delete</button>


<% }); %>


<ul>
