<div class="container">
	<h1 class="text-center">Favorite Pokemon</h1>
	<p class="text-center">
		<a href="/pokemon">Back to Favorites</a>
	</p>

	<div class="well">
	  <h2><%= pokemon.name %></h1>
	  <button class="btn btn-danger delete-link">Remove from Favorites</button>
	  <p>

	  </p>
    </div>

</div>
