<h1 class="text-center">Your Pokédex</h1>

<div class="container">
	<% if(results.length <= 0) { %>
		<h2>You haven't caught any pokemon yet!</h2>
	<% } else { %>
		<% results.forEach(function(item){ %>
		<div class="pokemon-grid">
			<a href="/pokemon/<%= item.id %>">
				<img src="<%= item.imagesrc %>">
				<h4><%= item.name %></h4>
			</a>
		</div>
		<% }); %>
	<% } %>
</div>