<div class="container">
  <p class="text-center">
    <a class="btn btn-lrg btn-primary" href="/">Pokemon</a>
  </p>
<% pokemon.forEach(function(pokemon) { %>
  <div class="well">
    <h2><%= pokemon.name %></h2>
      <button class="btn btn-danger pokemonDelete">Delete</button>
  </div>
  <% }); %>
</div>