<div id="favoritePokemon">

  <div class="row">

    <% pokemon.forEach(function(pokemon){ %>
      <div class="col-md-6 pokemon" style="color: blue"><%= pokemon.name %></div>
      <div class="col-md-6"><a href="/pokemon/<%= pokemon.id %>" class=" btn btn-info delete" style="background-color: red" style="color: black">Delete</a></div>
    <% }) %>

  </div>

</div>
