<div class="pokemonlist">
  <h2 class="btn btn-primary fave"><a href="<%= "/" %>"> Return to all</a></h2>

    <% result.forEach(function(pokemon) {%>
    <div class="well">
      <h3> <%= pokemon.name %></h3>
      </div>
    <% }); %>
</div>
