<body class="poke">

<h1 class="favorite">My Favorite Pokemon</h1>

<ul class="pokemon">
    <% poke.forEach((pokepoke) => { %>
        <li><a href='/pokemon/<%= pokepoke.name %>'> <%= pokepoke.name %> </a></li>
<% }) %>
</ul>
</body>