<div class="container">
<h1 class="text-center"> Your favorite pokemon:</h1>
  <ul>
    <% pokemons.forEach(pokemon => { %>
      <li>
        <div class="well">
          <a class="pokename" href="pokemon/<%=pokemon.name%>"><%=pokemon.name%></a>
        </div>
      </li>

    <% }) %>
  <ul>
</div>
  