<h1> You picked some great ones for favorites!!</h1>
<h3>Click your favorite pokemon for more info!</h3>

<% data.forEach(function(pokemon) { %>
            
      <a href="/pokemon/<%=pokemon.id %>"><%= pokemon.name %></a>
  <% }); %>

  <hr />
<a href="/">Back to all of the original pokemon!</a>

