


<div class="container">
  <h1 class="text-center">Behold your favorite pokemon</h1>
  <p class="text-center">
    <a href="/">Home</a>
  </p>







    <div class="well">
      <form method="POST" action="/pokemon/">
        <input hidden type="text" name="name" value="pokeNamePLACEHODER">
        <button class="btn btn-danger" type="submit">Remove Favorite</button>
      </form>
    </div>
 





</div>
