<div class="title">
    <h1>Favorite Pokémons</h1>
</div>
<div class="favbox">
<ul class="favlist">
    <% dbPokemons.forEach(favPoke => {%>
        <li class="favlistitem"><a href='/pokemon/<%= favPoke.name %>'><%= favPoke.name %></a></li>
    <% }) %>
</ul>
</div>