<br><br><br><br>
<h1 class="text-center"><%= pokeName %></h1>
<h2 class="text-center"><%= pokeNum %></h2>
<h2 class="text-center"><%= pokeType %></h2>
<h2 class="text-center"><img src="<%= pokeImg %>"</h2>