<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>More Information about <%= pokemon.name %></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yellowtail&display=swap');
        </style>
</head>
<body class="favoritesBody">
   <div class="container">
        <div class="pokeFacts">
            <h5>Height: <%= pokemon.height %></h5>
            <h5>Weight: <%= pokemon.weight %></h5>
            <img class="sprite" src="<%= pokemon.sprites.front_default%>">
        </div>
   </div>
      </body>
</html>


