<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Views</title>
</head>
<body>
    <h1> THIS IS THE SHOWS PAGE</h1>
    <div>
        <h2>
            <%- pokemonName %>
        </h2>
        <h3> <%- pokeData.abilities[0].ability.name %></h3>
    </div>
</body>
</html>