<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/style.css">
    <title>Details</title>
</head>
<body>
<h1>name: <%= pokemon.name %></h1>
<p> weight: <%= pokemon.weight%> </p>
<p>Height: <%= pokemon.height %></p>
<img src="<%= pokemon.sprites.front_default%>">
</body>
</html>