<div class='poke text-center'>
	<h2><%= pokemon.name %></h2>
	<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.id %>.png" class='sprite'>
	<h2>Height: <%= pokemon.height %></h2>
	<br>
	<h2>Weight: <%= pokemon.weight %></h2>

	</div>
