
<div class="container">
    <h1 class="text-center">The Original 151 Pokemon</h1>
    <p class="text-center">
      <a href="/">home</a>
    </p>
  
    <% pokemon.abilities.forEach(function(pokemon) { %>
      <div class="well">
        <h2><%= pokemon.ability.name %></h2>
        
      </div>
    <% }); %>

    <div class="well">
        <h2>Base Experience: <%= pokemon.base_experience%></h2>
    </div>
    <div class="well">
        <h2>Height: <%= pokemon.height%></h2>
    </div>
    <div class="well">
        <h2>Weight: <%= pokemon.weight%></h2>
    </div>
  </div>