<h1>Here are all your favorite pokemons</h1>

<% if(poke && poke.length > 0) { %>
  <% poke.forEach((s)=>{ %>

    <div class="container bg-primary text-white"  style="width:18rem;">

    <h5 class="card-title"><%= s.name %></h5>

   </div>
<br>
<br>
  <% }) %>
<%} else{  %>
  <p>Nothing here to see</p>
<% } %>
