<h2> <%= favePoke.name %> </h2>


<form method="POST" action="/pokemon/fave/?_method=PUT">
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" value="<%= favePoke.nickname ? favePoke.nickname : favePoke.name%>" id="nickname">

    <label for="level">Level</label>
    <input type="number" name="level" id="level" value="<% favePoke.level%>">

<input type="hidden" name="id" value="<%= favePoke.id %>">

<input type="submit" value="Edit">

</form>


