<% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>
        <input hidden type="text" name="name" value="<%= pokemon.id %>">
    </div>
  <% }); %>
</div>