<div>
    <h1><%- pokemonName.charAt(0).toUpperCase()+pokemonName.slice(1) %> is SO DOPE!</h1>
    <hr>
        <h2>Abilities: <%- (pokeData.abilities[0].ability.name).charAt(0).toUpperCase()+(pokeData.abilities[0].ability.name).slice(1) %></h2>
            <h3>Weight: <%- pokeData.weight %> (that's a cool fact.)</h3>
            <img src="<%- pokeData.sprites.front_default %>"width=250px height=250px>
        <br>
        <br>
    <p>
        <a href = '/favorites/' class="waves-effect waves-light btn blue lighten-1">Go Back</a>
    </p>
</div>