<div class='well text-center'>
		<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.id %>.png">
	<h2>Height: <%= pokemon.height %></h2>
	<br>
	<h2>Weight: <%= pokemon.weight %></h2>

</div>