<div class="container">
<h3>My Pokemon Team</h3>
<% pokemon.forEach(function(pokemon) { %>
  <div class="poketeam">
    <h5><%= pokemon.name %></h5>
		<div class="btn delete" href="/pokemon/<%=pokemon.name%>">Release</div>
        <div class="btn"><a href="/pokemon/<%=pokemon.name%>">More Info</a></div>
        <div id="snackbar">Bye-bye!</div>
	</div>
<% }); %>
</div>





