<div class="container">
<h3>My Pokemon Team</h3>
<% pokemon.forEach(function(pokemon) { %>
  <div class="well">
    <h4><%= pokemon.name %></h4>
		<div class="btn btn-primary delete" onclick="releasePokemon()" href="/pokemon/<%=pokemon.name%>">Release</div>
        <div class="btn btn-warning"><a href="/pokemon/<%=pokemon.name%>">More Info</a></div>
        <div id="snackbar">Bye-bye! Click <a href="/pokemon">here</a> to view your team.</div>

  </div>
<% }); %>
</div>





