:root {
  --height: 150px;
  --width: 300px;
  --totalHeight: calc(var(--height) * 2);
  --totalWidth: var(--width);
  --border-thickness: 5px;
  --center-width: calc(var(--width) / 4);
  --button-width: calc(var(--center-width) / 2);
}

.overlay-link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.block-title {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.pokeball {
  position: relative;
  height: var(--totalHeight);
  width: var(--totalWidth);
  margin: 200px auto 75px;
}

.ball-top {
  border-top-left-radius: var(--width);
  border-top-right-radius: var(--width);
  height: var(--height);
  width: var(--width);
  background-color: red;
  border: var(--border-thickness) solid black;
}

.ball-center {
  position: absolute;
  height: var(--center-width);
  width: var(--center-width);
  border-radius: var(--center-width);
  border: var(--border-thickness) solid black;
  background-color: white;
  left: calc(var(--width) * 1/4);
  top: calc(var(--height) * 3/4);
}

.ball-center-button {
  position: absolute;
  height: var(--button-width);
  width: var(--button-width);
  border-radius: var(--button-width);
  border: calc(var(--border-thickness) / 2) solid black;
  background-color: white;
  left: calc(var(--button-width) * 10/35);
  top: calc(var(--button-width) * 1/3);
}

.ball-bottom {
  border-bottom-left-radius: var(--width);
  border-bottom-right-radius: var(--width);
  height: var(--height);
  width: var(--width);
  background-color: white;
  border: var(--border-thickness) solid black;
}

.red-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(left, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 */
}

.white-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,efefef+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 1%, #efefef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 1%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 1%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 ); /* IE6-9 */
}