body, html {
    height: 100%;
  }

.bg {
    /* The image used */
    background-image: url("https://cdn.hipwallpaper.com/i/3/31/Oi6Nka.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.container {
    background: black;
}