html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* * {
  border: black solid 2px;
} */

header {
  margin: 0;
  padding: 1px;
  height: 13.5vh;
  font-size: 2vw;
  text-align: center;
  background: #fbcd3c;
  border-bottom: #e74a39 solid 5px;
  color: #e74a39
}

header h1 {
  line-height: 5vh;
  margin-bottom: 1vh;
}

main {
  height: 85vh;
  width: 69vw;
  padding: 5px;
  margin: auto;
  background: #faf4e1;
}

#favlist {
  float:left;
  position: fixed;
  top: 14.5vh;
  width: 14.5vw;
  height: 85vh;
  left: 0;
  background: #b3cde0;
}
aside h3 {
  text-align: center;
  color: #3a5cb6;
}

aside a {
  color: #e74a39;
}

#rightbar {
  float: right;
  position: fixed;
  top: 14.5vh;
  width: 14.5vw;
  height: 85vh;
  right: 0;
  background: #b3cde0;
}



/* * individual format ================================= */

#pokelist {
  height: 92%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4,1fr);
  margin: 0.7% auto;
  grid-gap: 5px;
  /* border: black solid 1px; */
}
.pokename {
  font-size: 1.2vw;
  position: absolute;
  top: 3%;
  left: 14%;
}
.pokemonlink {
  position: absolute;
  top: 15%;
  left: 22%;
}
.pokemonimg {
  height: 7vw;
  width: 7vw;
}
#pokelist button {
  border: none;
  background: none;
}
#emptyheart {
  font-size: 14px;
  margin-bottom: -1px;
}
.pokemondiv {
  position: relative;
  border: #3a5cb6 solid 5px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  width: 12vw;
  height: 8vw;
}
.pokemonbg {
  height: 100%;
  opacity: 0.25;
  object-fit: contain;
}
.favbtn {
  display: inline;
}
.hidden {
  display: none;
}


#pagenums {
  height: 5%;
  width: 64%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagenum {
  display: block;
  height: 4vh;
  width: 4vh;
  color: #3a5cb6;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 4.5vh;
  border: #3a5cb6 solid 2px;
}
.active {
  color: #ffcb04;
  background: #3a5cb6;
  font-weight: bold;
  border: #ffcb04 solid 2px;
}

.pagenum:hover {
  color: #ffcb04;
  background: #3a5cb6;
  font-weight: bold;
  border: #ffcb04 solid 2px;
}