.navbar::before, .navbar::after {
    content: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.nav {
    display: flex;
}

.poke-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.pokeball-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.poke-controls {
    display: flex;
    justify-content: space-between;
}

.poke-name {
    text-transform: capitalize;
}

.page-nav {
    text-align: center;
    margin-bottom: 48px;
    margin-top: 24px;
}

.page-nav input[type=number] {
    text-align: right;
    width: 50px;
}
/* Chrome, Safari, Edge, Opera */
.page-nav input::-webkit-outer-spin-button,
.page-nav input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.page-nav input[type=number] {
  -moz-appearance:textfield;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header img {
    max-height: 100px;
    max-width: 100px;
}

.poke-type {
    display: inline;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    padding: 10px;
}

.poke-stats, .poke-moves {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 4px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.poke-stats p {
    text-transform: capitalize;
}

.poke-stats span {
    text-transform: lowercase;
}

.poke-moves h3 {
    width: 100%;
}

