header img {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-top: 2em;
    background-color: lightblue;
}

head {
    background-color: lightblue;
}

body {
    background-color: lightblue;
    font-family: "Press Start 2P", cursive;
}

.header-stuff {
    text-align: center;
    background-color: lightblue;
}

.pokemonlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fave {
    background-color: #FFCB05;
    color: #000;
    font-size: 2em;
    border: 0;
    padding: 20px;
    margin-top: 1em;
}

.infobox {
    margin-left: 25%;
}

.well {
    text-align: center;
    width: 60%;
    border: 0;
    background-color: lightblue;
}

.btn-primary {
    border: 0;
}

.btn-primary:hover {
    background-color: #FFCB05;
}

.pokenames {
    font-size: 2em;
}