<h1>A List of My Favorite Pokemon</h1>
<a href="/">Home</a>

<% pokemon.forEach(function(pokemon) { %>
  <p> <%= pokemon.name %> </p>
  <a class="btn btn-primary delete" href="/pokemon/<%= pokemon.id %>">DELETE</a>
<% }); %>
