<div class="container">
    <h1 class="text-center">View Favorites</h1>
    <% favorites.forEach(favorite => { %>
        <div class="well">
            <h2><a href="<%= `/pokemon/${favorite.id}` %>"><%= favorite.name %></a></h2>
        </div>
    <% }) %>
    <%= JSON.stringify(favorites) %>
</div>