<h1 class="text-center">Your Favorite Pokemon</h1>
<% pokemon.forEach(pokemon => { %>
    <div class="well">
        <h2 class="poke-name"><%= pokemon.name %></h2>
        <div class="poke-controls">
            <a class="btn btn-primary" href="/pokemon/<%= pokemon.name %>">See More</a>
            <form method="POST" action="/pokemon/<%= pokemon.id %>/?_method=DELETE">
                <button class="btn btn-danger" type="submit">Remove From Party</button>
            </form>
        </div>
    </div>
<% }); %>