<h1 class="fav-title text-center">Favorites</h1>
<a href="/" class="btn btn-info">&larr; Back</a>
<% pokemon.forEach(function(pokemon) { %>
<div class="well">
  <h2><a href="/pokemon/<%=pokemon.id%>"><%= pokemon.name %></a></h2>
  <a href="/pokemon/<%=pokemon.id%>" class="btn btn-danger glyphicon glyphicon-trash delete-link"></a>
  </div>
<% }); %>