<div id ="main" class="container">
	<div class="main-top">
    	<h1 class="text-center">About This Pokemon</h1>
  </div>
  	 <div class="flex-buttons">
  	   <div class="two-buttons">
  	     <p class="text-center">
      	   <a class="favorites" href="/pokemon">Favorites</a>
  		    </p>
  		    <p class="text-center">
    	     <a class="home-button" href="/">Home</a>
		      </p>
	     </div>
	   </div>

  <div  class="text-center indv-poke">
    <h2 class="pokename"><%= pokemon.name %></h2>
    <h2>Monster weight: <%= pokemon.weight %></h2>
    <h2>Monster height: <%= pokemon.height %></h2>
    <img src= "<%= pokemon.sprites.front_shiny %>" height="130">
  </div>

</div>