<div id ="main" class="container">
	<div class="main-top">
    	<h1 class="text-center">About This Pokemon</h1>
  	</div>
  	<div class="two-buttons">
  		<p class="text-center">
      	<a class="favorites" href="/pokemon">See Your Favorites</a>
  		</p>
  		<p class="text-center">
    	<a class="home-button" href="/">Home</a>
		</p>
	</div>


<% pokemon.forEach(function(item){ %>
	<h2> <%= item.name %> </h2>
<% }); %>

</div>