<div class="container">
  <a href="/pokemon/<%= pokemon.id %>"><h2 class="text-center"><%= pokemon.name %></h2></a>
  <a href="/pokemon/<%= pokemon.id %>" class="waves-effect waves-light red darken-4 btn delete">Delete from Favorites</a>
</div>
