<div class="container">
  <h2 class="text-center"><%= pokemon.name %></h2>
  <form method="POST" action="/pokemon">
    <input hidden type="text" name="name" value="<%= pokemon.name %>"/>
    <button class="waves-effect waves-light red darken-4 btn" type="submit">Delete from Favorites</button>
  </form>
</div>
