<div id ="main" class="container">
	 <div class="main-top">
		<h1 class="text-center">My Favorite Pokemon</h1>
	</div>
		<p class="text-center">
    	<a class="home-button" href="/">Home</a>
	</p>
  
	<% if(results.length <=0){ %>
		<p>No pocket monsters here</p>
	<%} else {%>
		<% results.forEach(function(item){ %>
			<div class="well">
				<p class="pokemon text-center"><a href="/pokemon/<%= item.id %>"><%=item.name%></a></p>
				<a href="/pokemon/<%= item.id %>" class="btn btn-danger delete-link">Remove</a>
			</div>
		<%});%>
	<%}%>
</div>



		
