<h1><%= pokemon.forms[0].name %></h1>

<img src="<%=pokemon.sprites.front_default%>">
<br>

<h2>weight: <%= pokemon.weight %></h2>

<h2>base experience: <%= pokemon.base_experience %></h2>



<% console.log(pokemon.abilities[0].ability);%>

<a href="/pokemon" class="btn btn-info">&larr; Back</a><a href="/" class="btn btn-primary">Home</a>
