body {
  background-image: url('/img/pokedexImg.jpg');
  background-size: cover;
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: center;
}

.well {
  width: 500px;
  margin-left: 315px;
  font-family: 'VT323', monospace;
  font-size: 20px;
  border: 10px solid lightgrey;
  border-radius:20%
}

#myPokedex {
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.list {
  margin-top: 300px;
  margin-left: 400px;

}

.favPoke {
  font-family: 'VT323', monospace;
  font-size: 15px;
  color: white;
}

.pokemon {
  height: auto;
  width: 200px;
  margin: 10px;
  background-color: white;
  font-family: 'VT323', monospace;
  font-size: 15px;
  border:3px solid lightgrey;
  border-radius:20%
}

.poke {
  height: auto;
  width: 300px;
  margin-left: 500px;
  margin-top: 310px;
  padding-bottom: 5px;
  text-align: center;
  background-color: white;
  font-family: 'VT323', monospace;
  font-size: 15px;
  border:3px solid lightgrey;
  border-radius:20%
}

.names {
  font-size:50px;
  margin-top: 5px;
}

.sprite {
  height:auto;
  width: auto;
}

#mainHeader {
  font-family:'VT323', monospace;
  font-size: 80px;
}

#pikaPika {
  width: 80px;
  height: 80px;
}

#charmander {
  width: 100px;
  height: 100px;
}
