body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  /* height: 100vh; */
}

.page-footer a {
  color: white;
}

.carousel {
  height: 400px;
}

.card-content {
  height: 100%;
}

.card-title {
  color: black;
}