img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display:block;  
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwPNsbj1Bzt3PjwWY_b-Ic5c66Gp6SjHXCZ-U2kqTdy7UuUSzP');
}
#top{
    background-color:goldenrod;
}
#nav{
    background-color:black;
    font-size:25px;
    color:white;
}
#nav a:link{
    color:white;
    text-decoration: none;
}
#nav a:visited{
    color:white;
    text-decoration: none;
}
#show{
    background: rgb(128, 128, 128, 0.9);
    height:100vh;
    font-size: 35px;
    color:rgba(255, 255, 255, 0.931);
    border: 2px solid black;
}
#show img{
    border: 2px solid black;
    border-radius:10px;
}
#show h1{
    text-decoration: underline;
    font-size:50px;
    color:black;
}

