body {
  background-image: url("../img/journal.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container1 {
  top: 100px;
  right: 200px;
  position: relative;
  float: right;
  height: 600px;
  width: 250px;
  background-color: inherit;
  overflow: scroll;
}
.container2 {
  top: 100px;
  left: 200px;
  position: relative;
  height: 400px;
  width: 300px;
  line-height: 30px;
}
.container3 {
  top: 100px;
  left: 200px;
  position: relative;
  height: 400px;
  width: 300px;
  line-height: 30px;
}
