  body {
      background: coral;
      text-align: center;
  }

  h1 {
      color: white;
  }

  #halp {
      margin: 10px;
      /* border: 2px solid red; */
      box-shadow: 5px 5px red;
  }

  .bigbox {
    margin-left: 50px;
  }

  #headline {
      box-shadow: 5px 5px white;
  }