<!-- <!DOCTYPE html>
<html>
<head>
  <title>favorites??</title>
</head>
<body> -->

<h1>favvvss go here</h1>
<% pokemon.forEach(function(entry){ %>
  <p>test</p>
<h1> <%= entry.name %> </h1>
<% }) %>

<!-- </body>
</html> -->